.CalleInicio {
   padding-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #81e0dc;
    background-image: url("../img/bg1.jpg");
}



